html {
    font-family: sans-serif;
  }

  table {
    border-collapse: collapse;
    border: 2px solid rgb(200,200,200);
    letter-spacing: 1px;
    font-size: 0.8rem;  
    background-color: rgb(40, 151, 40);     }

  td, th {
    border: 1px solid rgb(194, 97, 97);
    padding: 10px 20px;
    text-align: center;
  }
  html {
    background-color: rgb(248, 144, 136);
  }
  caption  {
          padding: 10px;
        }